.featured-jackets-container {
    
    margin: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,minmax(15rem, 20rem) );
    grid-template-rows: 25rem;
    gap: 1rem;

}

.featured-jackets {
    background-color: rgb(248, 10, 10);
    display: grid;
    grid-template-columns: 5rem;
    grid-template-rows: 5rem 10rem;
   gap: 1rem;
}

.featured-jacket-card-one, .featured-jacket-card-two, .featured-jacket-card-three{
    background-color: aqua;
}

.featured-jacket-top-card {
   background-color: orange;
   
}
.featured-jacket-top-card img {
    height: 100%;
 }
 
.featured-jacket-bottom-card 

.featured-jacket-bottom {
    font-size: 40px;
}

.jackets-container {
    background-color: rgb(51, 0, 255);
    margin: 10px;
}







/* .all-jacketsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 60px;
    place-items: center;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 80px;
}

.main-jackets{
    background-color: rgb(255, 0, 98);
    max-width: 40rem;
    height: 30rem;
}

.all-jackets h3 p {
position: absolute;
}



.image-container {
max-width: 400px;
}

.jackets {
    height: 450px;
    width: 100%;
    background-color: rgb(26, 43, 140);
    margin-right: 100px;
  }

  .border-box {
    background-color: rgb(222, 220, 220);
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

.border-box h3 {
    padding-bottom: 5px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: red;
}

.add-to-cart-btn a {
    text-decoration: none;
    color: white;
} */
